@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');
/* <head> */
body{
    font-family: Handjet, serif;
    box-sizing: border-box;
    font-weight: 700;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: red;
}
.hidden{
    display: none;
}
/* </head> */
/* <body> */
/* <header> */
header{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #000000;
    border-bottom: 0.5rem solid rgb(255, 221, 0);
    color: #ffffff;
    flex-wrap: wrap;
}
#record{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    max-width: 200px;
    height: inherit;
    padding: 1.5rem;
    font-size: 1.5rem; 
}   
#record>div{
    width: fit-content;
    height: fit-content;
    padding: 0;
    text-align: center;
}
#infobar{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    max-width: 700px;
    min-height: 100%;
    font-size: 2rem;
}
#infobar>div{
    margin: auto;
    text-align: center;
}
.indicators{
    color: rgb(255, 0, 0);
}
#level{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: fit-content;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
input[type="radio"]{
    accent-color: #ff0000;
}
#level label{
    font-size: 1.3rem;
}
@media (max-width: 945px){
    #level, #record{
        position: static;
        transform: none;
        width: 100%;
        padding: 0.5rem;
    }
}
#menu-lives img{
    max-height: 2rem;
}
#menu-lives{
    display: flex;
    align-items: center;
}
#menu-lives *{
    padding: 0 0.2rem;
}
/* </header> */
/* <main> */
main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-image: url(../images/texture/brickwall.png);
}
#panel{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
}
.panel-row{
    display: flex;
    width: inherit;

}
.box{
    width: 33%;
    background-color: rgba(73, 73, 73, 0.6);
    border: 1px solid black;
    -webkit-user-select: none;
    user-select: none;
}
.enemy{
    background-image: url(../images/enemy/zombie.png);
    background-size: contain;
    background-position: center;
}
.enemy-hit{
    background-image: url(../images/enemy/zumbi_hit.png);
    background-size: contain;
    background-position: center;
}
#start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    border: 2px solid #ff0000;
    width: inherit;
    min-height: inherit;
}
.action-button{
    height: fit-content;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #000000;
    color: #ffffff;
    border: 0.5rem solid rgb(255, 221, 0);
    font-family: Handjet, serif;
}
#position-start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    min-height: 400px;
}
#position-gameover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    min-height: 400px;
}
#gameover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    border: 2px solid #ff0000;
    width: inherit;
    min-height: inherit;
}
#gameover h2{
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}
#gameover h3{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}
/* </main> */
/* <footer> */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-top: 0.5rem solid rgb(255, 221, 0);
    color: #ffffff;
    min-height: 15vh;
    font-size: 1.5rem;
}
/* </footer> */
/* </body> */
